// sidebar
$menuText: #ffffff;
$menuActiveText: #ffd04b;
$subMenuActiveText: #ffd04b;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #263445;

$sideBarWidth: 200px;
$hideSideBarWidth: 64px;
$sideBarDuration: 0.28s;


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  hideSideBarWidth: $hideSideBarWidth;
}
